<table class='table table-striped'>
  <thead class='thead-light'>
    <tr>
      <th>Id Actividad</th><th>Fecha</th><th>Nombre</th>
      <th>
        <%= Cor1440Gen::Actividad.human_attribute_name(:proyectofinanciero) %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @registro.actividad.order(:fecha).each do |a| %>
      <tr>
        <td>
          <%= link_to a.id, cor1440_gen.actividad_path(a), target: '_blank' %>
        </td>
        <td>
          <%= a.fecha %>
        </td>
        <td>
          <%= a.nombre %>
        </td>
        <td>
          <%= a.proyectofinanciero.map(&:nombre).join("; ") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
