<table border="1">
  <tr>
    <td> <%= f.input(
      :columnafecha, 
      label: Cor1440Gen::Actividad.human_attribute_name(:fecha)) 
      %> </td>
    <td> <%= f.input :columnaresponsable,
      label: Cor1440Gen::Actividad.human_attribute_name(:responsable) %> </td>
    <td> <%= f.input :columnanombre, 
      label: Cor1440Gen::Actividad.human_attribute_name(:nombre) %> </td>
    <td> <%= f.input :columnatipo,
      label: Cor1440Gen::Actividad.human_attribute_name(:actividadtipo)
      %> </td>
    <td> <%= f.input :columnaobjetivo,
      label: Cor1440Gen::Actividad.human_attribute_name(:objetivo)
      %></td>
    <td> <%= f.input :columnaproyecto,
      label: Cor1440Gen::Actividad.human_attribute_name(:proyecto)
      %> </td>
    <td>
      <%= f.input :columnapoblacion,
        label: Cor1440Gen::Actividad.human_attribute_name(:poblacion)
      %> </td>
    <%= render partial: 'otras_columnas', locals: {f: f} %>
  </tr>
</table>
