<%= simple_form_for @informe,
  :url => cor1440_gen.informes_path(@informe).sub(/\./,"/"), 
  :html => { :class => 'form-horizontal' } do |f| 
%>

  <%= render partial: 'sip/hogar/errores', locals: { f: f } %>

  <%= f.input :titulo %>
  <div class="panel panel-default">
    <div class="panel-heading">Filtro para el Listado de Actividades</div><div class="panel-body">
      <%= f.input :filtrofechaini_localizada,
        :input_html => { "data-behaviour" => "datepicker"},
        :as => :string
      %>
      <%= f.input :filtrofechafin_localizada,
        :input_html => { "data-behaviour" => "datepicker"},
        :as => :string
      %>
      <%= f.association :responsable,
        collection: ::Usuario.habilitados,
        label_method: :nombre, 
        value_method: :id
      %>
      <%= f.association :oficina,
        collection: Sip::Oficina.habilitados,
        label_method: :nombre, 
        value_method: :id
      %>
      <%= f.association :proyectofinanciero,
        collection: Cor1440Gen::Proyectofinanciero.habilitados,
        label_method: :nombre, 
        value_method: :id
      %>
      <%= f.association :proyecto,
        collection: Cor1440Gen::Proyecto.habilitados,
        label_method: :nombre, 
        value_method: :id
      %>
      <%= f.association :actividadarea,
        collection: Cor1440Gen::Actividadarea.habilitados,
        label_method: :nombre, 
        value_method: :id
      %>

      <%= render partial: 'otros_filtros', locals: {f: f} %>

    </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->

  <div class="panel panel-default">
    <div class="panel-heading">Columnas del Listado de Actividades</div>
    <div class="panel-body">
      <%= render partial: 'columnas_informe', locals: {f: f} %>
    </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->

  <div class="panel panel-default">
    <div class="panel-heading">Campos Narrativos</div><div class="panel-body">
      <%= render partial: 'form_narrativos', locals: {f: f} %>
    </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      cor1440_gen.actividades_path, :class => 'btn' 
    %>
  </div>
<% end %>
