<tr class='nested-fields'>
  <td>
    <%= f.input :fecha_localizada,
      label: false, 
      input_html: {
        readonly: 'readonly',
        class: 'em8'
      }, as: :string %>
  </td><td>
    <%= f.input :finicio_localizada,
      label: false, 
      input_html: {
        "data-behaviour" => "datepicker",
        class: 'em8'
      }, as: :string %>
  </td><td>
    <%= f.input :ffin_localizada,
      label: false, 
      input_html: {
        "data-behaviour" => "datepicker",
        class: 'em8'
      }, as: :string %>
  </td><td>
    <%= f.input :restiempo,
      label: false,
      input_html: {
        class: 'em8'
      }  %>
  </td>
  <% @datointermedioti.each do |di| %>
    <% if !di.id.nil? %>
      <% if f.object.datointermedioti_pmindicadorpf.
          where(datointermedioti_id: di.id).count == 0 && !f.object.id.nil? %>
        <% Cor1440Gen::DatointermediotiPmindicadorpf.create!(
          datointermedioti_id: di.id,
          pmindicadorpf_id: f.object.id) %>
      <% end %>
      <%= f.simple_fields_for :datointermedioti_pmindicadorpf,
        f.object.datointermedioti_pmindicadorpf.
        where(datointermedioti_id: di.id) do |di| %>
        <td>
          <%= render 'datointermedioti_pmindicadorpf_campos', :f => di %>
        </td>
      <% end %>
    <% end %>
  <% end %>
  <td>
    <span>
      <a class='enlaceevidencia' href='<%= f.object.rutaevidencia %>' 
         target='_blank'><%= f.object.resind %></a>
    </span>
    <%= f.input :resind, as: :hidden, label: false %>
    <%= f.input :rutaevidencia, label: false, as: :hidden %>
  </td>
  <td>
    <%= f.input :meta,
      label: false,
      input_html: {
        class: 'em8'
      }  %>
  </td>
  <td> 
    <%= f.input :porcump, 
      input_html: { readonly: 'readonly' },
      label: false %> 
  </td>

  <%= render partial: 'columnafinal_pmindi',
   locals: {f: f, con_label: false} %>

  <!--td> <%= f.input :analisis, label: false %> </td><td> <%= f.input :acciones, label: false %> </td><td> <%= f.input :responsables, label: false %> </td><td> <%= f.input :plazo, label: false %> </td-->
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to t('Calcular'), '#',
                  class: 'btn btn-sm', 
                  onclick: 'cor1440_gen_calcula_pmindicadorpf(this, event)' %>
    <%= link_to_remove_association "Eliminar", f, 
      :class => 'btn btn-sm btn-danger' %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
