<% if @registro %>
  <% d = controller.descripciones_datos_intermedios(@registro) %>
  <% @descd1 = d[0] %>
  <% @descd2 = d[1] %>
  <% @descd3 = d[2] %>
  <% pms = @registro.pmindicadorpf.order(:fecha, :ffin) %>
  
  <div>
    <table border=1>
    <tr>
      <th>Fecha Med.</th>
      <th>Fecha Inicio</th><th>Fecha Fin</th><th>Tiempo</th>
      <% if @registro.indicadorpf && @registro.indicadorpf.tipoindicador &&
          @registro.indicadorpf.tipoindicador.datointermedioti %>
        <% @registro.indicadorpf.tipoindicador.datointermedioti.each do |di| %>
            <th><%= di.nombre %></th>
        <% end %>
      <% end %>
      <th>Resultado</th><th>Meta</th><th>Porcentaje</th>
      <th>
        <%= render partial: 'show_pmindicaobservacioneshead' %>
      </th>
    </tr>
    <% pms.each do |pm| %>
      <tr>
        <td><%= pm.fecha_localizada %></td>
        <td><%= pm.finicio_localizada %></td>
        <td><%= pm.ffin_localizada %></td>
        <td><%= pm.restiempo %></td>
        <% if @registro.indicadorpf && @registro.indicadorpf.tipoindicador &&
            @registro.indicadorpf.tipoindicador.datointermedioti %>
          <% @registro.indicadorpf.tipoindicador.datointermedioti.each do |di| %>
            <td>
              <% if pm.datointermedioti_pmindicadorpf.where(datointermedioti_id: di.id).count > 0 %>
                <% pdi = pm.datointermedioti_pmindicadorpf.where(datointermedioti_id: di.id).take %>
                <% v = pdi.valor ? pdi.valor.round(1) : '' %>
                <% if pdi.rutaevidencia && pdi.rutaevidencia != '' &&
                    pdi.rutaevidencia != '#' && pdi.valor %>
                  <%= link_to v, pdi.rutaevidencia, target: '_blank' %>
                <% else %>
                  <%= v %>
                <% end %>
              <% end%>
            </td>
          <% end %>
        <% end %>

        <td>
          <% v = pm.resind ? pm.resind.round(1) : '' %>
          <% if pm.rutaevidencia && pm.resind %>
            <%= link_to v, pm.rutaevidencia, target: '_blank'  %>
          <% else %>
              <%= v %>
          <% end %>
        </td>
        <td><%= pm.meta %></td>
        <td>
          <% c = "red" %>
          <% v = pm.porcump ? pm.porcump.round(1) : '' %>
          <% if v.to_i > 99 %>
            <% c = 'green' %>
          <% elsif v.to_i >= 60 %>
            <% c = 'orange' %>
          <% end %>
          <span style='color: <%= c %>'>
            <%= v %>
          </span>
        </td>
        <td>
          <%= render partial: 'show_pmindicaobservaciones' %>
        </td>
      </tr>
    <% end %>
  </table>
  </div>

  <!-- p> <div> <table border='1'> <tr> <th>Tiempo</th><th>Análisis</th><th>Acciones</th><th>Responsables</th><th>Plazo</th> </tr> <% pms.each do |pm| %> <tr> <td><%= pm.restiempo %></td> <td><%= pm.analisis%></td> <td><%= pm.acciones %></td> <td><%= pm.responsables%></td> <td><%= pm.plazo %></td> </tr> <% end %> </table> </div> </p --> 
<% end %>
