<% if @registro %>
  <% d = controller.descripciones_datos_intermedios(@registro) %>
  <% @descd1 = d[0] %>
  <% @descd2 = d[1] %>
  <% @descd3 = d[2] %>
  <% pms = @registro.pmindicador.order(:fecha, :ffin) %>
  
  <div>
    <table border=1>
    <tr>
      <th>Fecha Med.</th>
      <th>Fecha Inicio</th><th>Fecha Fin</th><th>Tiempo</th>
      <% if @descd1 != '' %>
        <th><%= @descd1 %></th>
      <% end %>
      <% if @descd2 != '' %>
        <th><%= @descd2 %></th>
      <% end %>
      <% if @descd3 != '' %>
        <th><%= @descd3 %></th>
      <% end %>
      <th>Resultado</th><th>Meta</th><th>Porcentaje</th>
    </tr>
    <% pms.each do |pm| %>
      <tr>
        <td><%= pm.fecha_localizada %></td>
        <td><%= pm.finicio_localizada %></td>
        <td><%= pm.ffin_localizada %></td>
        <td><%= pm.restiempo %></td>
        <% if @descd1 != '' %>
          <td>
            <% v = pm.dmed1 ? pm.dmed1.round(1) : '' %>
            <% if pm.urlev1 && pm.dmed1 %>
              <%= link_to v, pm.urlev1, target: '_blank' %>
            <% else %>
              <%= v %>
            <% end %>
          </td>
        <% end %>
        <% if @descd2 != '' %>
          <td>
            <% v = pm.dmed2 ? pm.dmed2.round(1) : '' %>
            <% if pm.urlev2 && pm.dmed2 %>
              <%= link_to v, pm.urlev2, target: '_blank'  %>
            <% else %>
              <%= v %>
            <% end %>
          </td>
        <% end %>
        <% if @descd3 != '' %>
          <td>
            <% v = pm.dmed3 ? pm.dmed3.round(1) : '' %>
            <% if pm.urlev3 && pm.dmed3 %>
              <%= link_to v, pm.urlev3, target: '_blank'  %>
            <% else %>
              <%= v %>
            <% end %>
        <% end %>
        <td>
          <% v = pm.rind ? pm.rind.round(1) : '' %>
          <% if pm.urlevrind && pm.rind %>
            <%= link_to v, pm.urlevrind, target: '_blank'  %>
          <% else %>
              <%= v %>
          <% end %>
        </td>
        <td><%= pm.meta %></td>
        <td>
          <% c = "red" %>
          <% v = pm.porcump ? pm.porcump.round(1) : '' %>
          <% if v.to_i > 99 %>
            <% c = 'green' %>
          <% elsif v.to_i >= 60 %>
            <% c = 'orange' %>
          <% end %>
          <span style='color: <%= c %>'>
            <%= v %>
          </span>
        </td>
      </tr>
    <% end %>
  </table>
  </div>

  <!-- p> <div> <table border='1'> <tr> <th>Tiempo</th><th>Análisis</th><th>Acciones</th><th>Responsables</th><th>Plazo</th> </tr> <% pms.each do |pm| %> <tr> <td><%= pm.restiempo %></td> <td><%= pm.analisis%></td> <td><%= pm.acciones %></td> <td><%= pm.responsables%></td> <td><%= pm.plazo %></td> </tr> <% end %> </table> </div> </p --> 
<% end %>
