<tr class='nested-fields'>
  <td>
    <%= f.association :resultadopf, 
      label: false,
      label_method: :numero %>
  </td>
  <td>
    <%= f.input :nombrecorto, label: false %>
  </td>
  <td>
    <%= f.association :actividadtipo, 
      label_method: :nombre,
      label: false %>
  </td>
  <td>
    <%= f.input :titulo, label: false %>
  </td>
  <td>
    <%= f.input :descripcion, 
      as: :text, 
      input_html: { rows: 2 }, 
      label: false %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
      :class => 'btn-danger', "data-existing" => true %>
    <div><%= f.error_notification %></div>
  </td>
</tr>

