<%= f.input :nombre,
  input_html: { 
    'data-msip--cancelar-vacio-es-eliminar-target' => 'determinador'
  }
%>

<%= f.input :titulo, 
  input_html: { 
    'data-msip--cancelar-vacio-es-eliminar-target' => 'determinador'
  }
%>

<div class='row'>
  <div class="offset-sm-0 col-sm-6">
    <%= f.association :financiador,
      collection: Cor1440Gen::Financiador.habilitados,
      label_method: :nombre,
      value_method: :id,
      input_html: { 
        class: 'tom-select'
      }
    %>
  </div>
  <div class="col-sm-6">
    <%= f.association :sectorapc,
      collection: Cor1440Gen::Sectorapc.habilitados,
      label_method: :nombre,
      value_method: :id,
      input_html: { class: 'tom-select' }
    %>

  </div>

</div>

<div class='row'>
  <div class="offset-sm-0 col-sm-4">
    <%= f.input :fechainicio, 
      input_html: { 
        "data-action": "change->cor1440-gen--pf-duracion#recalcularDuracion",
        "data-cor1440-gen--pf-duracion-target": "fechainicio",
        "data-msip--cancelar-vacio-es-eliminar-target": "determinador",
        type: "date"
      },
      as: :string
    %>
  </div>

  <div class="col-sm-4">
    <%= f.input :fechacierre, 
      input_html: { 
        "data-action": "change->cor1440-gen--pf-duracion#recalcularDuracion",
        "data-cor1440-gen--pf-duracion-target": "fechacierre",
        type: "date"
      },
      as: :string
    %>
  </div>
  <div class="col-sm-4">
    <%
      f.object.duracion = ''
      if f.object.fechainicio && f.object.fechacierre then
        f.object.duracion = Msip::FormatoFechaHelper.dif_meses_dias(
          f.object.fechainicio, f.object.fechacierre
        )
      end
    %>
    <%= f.input :duracion,
      input_html: { 
        'data-cor1440-gen--pf-duracion-target': 'duracion',
        readonly: 'readonly' 
      }
    %>
  </div>
</div>

<div class='row'>
  <div class="offset-sm-0 col-sm-4">
    <%= f.input :fechaformulacion_anio, as: :integer %>
  </div>
  <div class="offset-sm-0 col-sm-4">
    <%= f.input :fechaformulacion_mes,
      collection: Msip::ModeloHelper::MESES,
      input_html: {
        "data-action": "change->cor1440-gen--pf-duracion#recalcularSemestre",
        "data-cor1440-gen--pf-duracion-target": "fechaformulacionMes"
      }
    %>
  </div>
  <div class="offset-sm-0 col-sm-4">
    <%= f.input :semestreformulacion, 
      :input_html => {
        "data-cor1440-gen--pf-duracion-target": "semestreformulacion",
        "readonly" => "readonly"
      } %>
  </div>
</div>


<div class='row'>
  <div class="col-sm-6">
    <%= f.input :fechaaprobacion, 
      input_html: { 
        type: "date"
      },
      as: :string
    %>
  </div>
  <div class="col-sm-6">
    <%= f.input :fechaliquidacion, 
      input_html: { 
        type: "date"
      },
      as: :string
    %>
  </div>
</div>

<%= render partial: 'basicos_intermedio', locals: {f: f} %>

<div class='row'>
  <div class="offset-sm-0 col-sm-6">
    <%= f.input :estado, 
      collection: Cor1440Gen::ApplicationHelper::ESTADO,
      include_blank: false,
      input_html: {
        value: f.object.estado ? f.object.estado : 'E',
        class: 'tom-select' 
      } 
    %>
  </div>
  <div class="col-sm-6">
    <%= f.input :dificultad, 
      collection: Cor1440Gen::ApplicationHelper::DIFICULTAD,
      include_blank: false,
      input_html: {
        value: f.object.estado ? f.object.estado : 'N',
        class: 'tom-select' 
      }
    %>
  </div>
</div>

