<p></p>
<div class="panel panel-default">
  <div class="panel-heading"><%= t('Indicadores de objetivo/efecto') %></div>
  <div class="panel-body">
    <div class="div-indicadoresobjetivos table-responsive">
      <div class="div-tabla">
        <div id="indicadoresobjetivo_marco" class="div-tabla-cuerpo">
          <div class="div-tabla-fila">
            <div class="div-tabla-celda-encabezado"><%= t('refobjetivo') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Código') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Indicador') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Acciones') %></div>
          </div>
          <%= f.simple_fields_for :indicadorobjetivo, 
            f.object.indicadorpf.where('objetivopf_id IS NOT NULL').order(:id) do |o| %>
            <%= render 'indicadorobjetivo_campos', f:  o, p: f %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="enlace-agregar-indicadorobjetivo">
      <%= f.submit "Agregar #{Cor1440Gen::Indicadorpf.human_attribute_name(:indicadorobjetivo)}",
        class: 'btn btn-sm btn-primary',
        data:  {
          disable_with: false 
        },
        formaction: cor1440_gen.crear_indicadorpf_proyectofinanciero_path(
          index: @proyectofinanciero.indicadorpf.size
        ),
        formmethod: :post,
        formnovalidate: true,
        id: "agregar-indicadorobjetivo",
        name: "agregar-indicadorobjetivo" %>
    </div> <!-- .enlace -->
  </div> <!-- panel-body -->
</div> <!-- panel -->
