<p></p>
<div class="panel panel-default">
  <div class="panel-heading"><%= t('Actividades del marco l칩gico') %></div>
  <div class="panel-body table-responsive" style='overflow-x:scroll;'>
    <div class="div-actividadespf">
      <table class='table table-bordered' border=1 width="100%">
        <thead>
          <tr>
            <th style='min-width: 8rem'><%= t('Ref. a resultado') %></th>
            <th style='min-width: 4rem'><%= t('C칩digo') %></th>
            <th style='min-width: 18rem'><%= t('Actividad del marco l칩gico') %></th>
            <th style='min-width: 18rem'><%= t('Detalle') %></th>
            <th style='min-width: 8rem'><%= t('Formulario') %></th>
            <th style='min-width: 14rem'><%= t('Hereda de') %></th>
            <th style='min-width: 4rem'><%= t('Acciones') %></th>
          </tr>
        </thead>
        <tbody id="actividadespf">
          <%= f.simple_fields_for :actividadpf, 
            f.object.actividadpf.order(:id) do |o| %>
            <%= render 'actividadpf_campos', f:  o %>
          <% end %>
        </tbody>
      </table>
      <div class="links">
        <%= link_to_add_association t('A침adir actividad'), f, :actividadpf, {
          :"data-association-insertion-node" => "tbody#actividadespf", 
          :"data-association-insertion-method" => "append", 
          partial: 'actividadpf_campos',
          class: 'btn-primary', 
          "data-ajax" => cor1440_gen.new_actividadespf_path,
          "data-ajaxdata" => "proyectofinanciero_id" } %>
      </div> <!-- links -->
    </div> <!-- .div-actividadespf -->
  </div> <!-- panel-body -->
</div> <!-- panel -->
