<p></p>
<div class="panel panel-default">
  <div class="panel-heading"><%= t('Indicadores de objetivo/efecto') %></div>
  <div class="panel-body">
    <div class="div-indicadoresobjetivos">
      <table class='table table-bordered' border=1 width="100%">
        <thead>
          <tr>
            <th><%= t('refobjetivo') %></th>
            <th width="10%"><%= t('Código') %></th>
            <th><%= t('Indicador') %></th>
            <th><%= t('Acciones') %></th>
          </tr>
        </thead>
        <tbody id="indicadoresobjetivos">
          <%= f.simple_fields_for :indicadorobjetivo, 
            f.object.indicadorpf.where('objetivopf_id IS NOT NULL').order(:id) do |o| %>
            <%= render 'indicadorobjetivo_campos', f:  o, p: f %>
          <% end %>
        </tbody>
      </table>
      <div class="links">
        <%= link_to_add_association t('Añadir indicador de objetivo/efecto'), 
          f, :indicadorobjetivo, {
          :"data-association-insertion-node" => "tbody#indicadoresobjetivos", 
          :"data-association-insertion-method" => "append", 
          partial: 'indicadorobjetivo_campos',
          class: 'btn btn-sm btn-primary', 
          "data-ajax" => cor1440_gen.new_indicadorespf_path,
          "data-ajaxdata" => "proyectofinanciero_id" } %>
      </div> <!-- link -->
    </div> <!-- .div-indicadoresobjetivos -->
  </div> <!-- panel-body -->
</div> <!-- panel -->
