<p></p>
<%= f.input :id, as: :hidden %>
<div class="panel panel-default">
  <div class="panel-heading"><%= t('Resultados') %></div>
  <div class="panel-body">

    <div class="div-resultadospf table-responsive">
      <div class='div-tabla'>
        <div id="resultadospf_marco" class="div-tabla-cuerpo">
          <div class="div-tabla-fila">
            <div class="div-tabla-celda-encabezado"><%= t('refobjetivo') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Código') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Resultado') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Acciones') %></div>
          </div>
          <%= f.simple_fields_for :resultadopf, 
            f.object.resultadopf.records do |o| %>
            <%= render 'resultadopf_campos', f:  o %>
          <% end %>
        </div>
      </div>
      <% if f.object.objetivopf.count == 0 %>
        <div>Primero agregue objetivos</div>
      <% else %>
        <div class="enlace-agregar-resultadopf">
          <%= f.submit "Agregar #{Cor1440Gen::Resultadopf.human_attribute_name(:resultadopf)}",
            formaction: cor1440_gen.crear_resultadopf_proyectofinanciero_path(
              index: @proyectofinanciero.resultadopf.size
            ),
            formmethod: :post,
            formnovalidate: true,
            class: 'btn btn-sm btn-primary',
            name: "agregar-resultadopf",
            id: "agregar-resultadopf",
            data:  {
              disable_with: false 
            } %>
        </div> <!-- enlace-agregar-resultadopf -->
      <% end %>
    </div> <!-- .div-resultadospf -->
  </div><!-- panel-body -->
</div><!-- panel -->
