<p></p>
<div class="panel panel-default">
  <div class="panel-heading"><%= t('Indicadores de resultado') %></div>
  <div class="panel-body">
    <div class="div-indicadorespf table-responsive">
      <div class="div-tabla"> 
        <div id="indicadorespf_marco" class="div-tabla-cuerpo">
          <div class="div-tabla-fila">
            <div class="div-tabla-celda-encabezado"><%= t('refresultado') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Código') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Indicador') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Acciones') %></div>
          </div>
          <%= f.simple_fields_for :indicadorpf, 
            f.object.indicadorpf.where('resultadopf_id IS NOT NULL').order(:id) do |o| %>
            <%= render 'indicadorpf_campos', f:  o %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="enlace-agregar-indicadorpf">
      <%= f.submit "Agregar #{Cor1440Gen::Indicadorpf.human_attribute_name(:indicadorpf)}",
        class: 'btn btn-sm btn-primary',
        data:  {
          disable_with: false 
        },
        formaction: cor1440_gen.crear_indicadorpf_proyectofinanciero_path(
          index: @proyectofinanciero.indicadorpf.size
        ),
        formmethod: :post,
        formnovalidate: true,
        id: "agregar-indicadorpf",
        name: "agregar-indicadorpf" %>
    </div> <!-- .enlace -->

  </div> <!-- panel-body -->
</div> <!-- panel -->
