<p></p>
<%= f.input :id, as: :hidden %>
<div class="panel panel-default">
  <div class="panel-heading"><%= t('Objetivos / Efectos') %></div>
  <div class="panel-body">

    <div class="div-objetivospf table-responsive">
      <div class='div-tabla'>
        <div id="objetivospf_marco" class="div-tabla-cuerpo">
          <div class="div-tabla-fila">
            <div class="div-tabla-celda-encabezado"><%= t('Código') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Descripción') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Acciones') %></div>
          </div>
          <%= f.simple_fields_for :objetivopf, f.object.objetivopf.order(:id) do |o| %>
            <%= render 'objetivopf_campos', f:  o %>
          <% end %>
        </div>
      </div>
      <div class="enlace-agregar-objetivopf">
        <%= f.submit "Agregar #{Cor1440Gen::Objetivopf.human_attribute_name(:objetivopf)}",
          formaction: cor1440_gen.crear_objetivopf_proyectofinanciero_path(
            index: @proyectofinanciero.objetivopf.size
          ),
          formmethod: :post,
          formnovalidate: true,
          class: 'btn btn-sm btn-primary',
          name: "agregar-objetivopf",
          id: "agregar-objetivopf",
          data:  {
            disable_with: false 
          } %>
      </div> <!-- enlace-agregar-objetivopf -->
    </div> <!-- .div-objetivospf -->
  </div><!-- panel-body -->
</div><!-- panel -->
