<p></p>
<%= f.input :id, as: :hidden %>
<div class="panel panel-default">
  <div class="panel-heading"><%= t('Actividades') %></div>
  <div class="panel-body">

    <div class="div-actividadespf table-responsive">
      <div class='div-tabla'>
        <div id="actividadespf_marco" class="div-tabla-cuerpo">
          <div class="div-tabla-fila">
            <div class="div-tabla-celda-encabezado"><%= t('refresultado') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Código') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Actividad del marco lógico') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Detalle') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Formulario') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Hereda de') %></div>
            <div class="div-tabla-celda-encabezado"><%= t('Acciones') %></div>
          </div>
          <%= f.simple_fields_for :actividadpf,
            f.object.actividadpf.order(:id) do |o| %>
            <%= render 'actividadpf_campos', f:  o %>
          <% end %>
        </div>
      </div>
      <div class="enlace-agregar-actividadpf">
        <%= f.submit "Agregar #{Cor1440Gen::Actividadpf.human_attribute_name(:actividadpf)}",
          formaction: cor1440_gen.crear_actividadpf_proyectofinanciero_path(
            index: @proyectofinanciero.actividadpf.size
          ),
          formmethod: :post,
          formnovalidate: true,
          class: 'btn btn-sm btn-primary',
          name: "agregar-actividadpf",
          id: "agregar-actividadpf",
          data:  {
            disable_with: false 
          } %>
      </div> <!-- enlace-agregar-actividadpf -->
    </div> <!-- .div-actividadespf -->
  </div><!-- panel-body -->
</div><!-- panel -->
