<tr class='nested-fields'>
  <td>
  <%= f.input :detalle, label: false, as: :text, input_html: { rows: 2 } %>
  </td>
  <td>
    <%= f.input :fecha, label: false,
      input_html: { type: "date" },
      as: :string
    %>
  </td>
  <td>
    <%= f.input :valorpesos_localizado, label: false %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
        class: 'btn btn-sm btn-danger' 
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
