<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in"><%= t('Iniciar Sesión') %></a>
<%- else  %>
  <article>
  <%= simple_form_for @registro, 
    url: modelo_path(@registro),
    html: { 
      'data-controller' => 'sip--cancelar-vacio-es-eliminar'
    } do |f| 
  %>
    <div data-role="content" class="form-inputs">
      <div id="errores">
        <% if f.object.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-error">
              <!--%= pluralize(f.object.errors.count, "error") %-->.
            </div>
            <ul>
              <% f.object.errors.messages.each do |msg| %>
                <li>* <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.error_notification %>
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <% if can? :manage, @registro %>
          <%= item_nav_pestaña_bs(
            'basicos', t('Datos básicos'),
            true, 'enviarautomatico_y_repintapf')
          %>
          <%= item_nav_pestaña_bs(
            'recursoshumanos', t('Recursos humanos'),
            false, 'enviarautomatico_y_repintapf')
          %>
          <%= item_nav_pestaña_bs(
            'recursoseconomicos', t('Recursos económicos'),
            false, 'enviarautomatico_y_repintapf')
          %>
          <%= item_nav_pestaña_bs(
            'informes', t('Informes y auditorias'),
            false, 'enviarautomatico_y_repintapf')
          %>
        <% end %>
        <% if can? :edit, @registro %>
          <%= item_nav_pestaña_bs(
            'marcologico', t('Marco lógico'),
            false, 'enviarautomatico_y_repintapf')
          %>
        <% end %>
        <% if can? :manage, @registro%>
          <%= item_nav_pestaña_bs(
            'anexos', t('Anexos'),
            false, 'enviarautomatico_y_repintapf')
          %>
        <% end %>
      </ul>
      <div class="tab-content">
        <% if can? :manage, @registro%>
          <%= contenido_pestaña_bs('basicos', true) do %>
            <%= render 'basicos', :f => f %>
          <% end %>

          <%= contenido_pestaña_bs('recursoshumanos', false) do %>
            <%= render 'recursoshumanos', :f => f %>
          <% end %>

          <%= contenido_pestaña_bs('recursoseconomicos', false) do %>
            <%= render 'recursoseconomicos', :f => f %>
          <% end %>

          <%= contenido_pestaña_bs('informes', false) do %>
            <%= render 'informes', :f => f %>
          <% end %>

          <%= contenido_pestaña_bs('contabilidad', false) do %>
            <%= render 'contabilidad', :f => f %>
          <% end %>

          <%= contenido_pestaña_bs('datosfinanciador', false) do %>
            <%= render 'datosfinanciador', :f => f %>
          <% end %>

        <% end %> 
        <% if can? :edit, @registro %>
          <%= contenido_pestaña_bs('marcologico', false) do %>
            <%= render 'marcologico', :f => f %>
          <% end %>
        <% end %> 
        <% if can? :manage, @registro%>
          <%= contenido_pestaña_bs('anexos', false) do %>
            <% if f.object.id.nil? %>
              <p>Antes de agregar anexos se debe guardar el compromiso institucional</p>
            <% else %>
              <%= render 'anexos', :f => f %> 
            <% end %>
          <% end %>
        <% end %> 

      </div> <!-- tab-content -->
    </div> <!-- form-inputs -->

    <div class="form-actions" style="text-align: center">
      <% if controller.registrar_en_bitacora %>
        <input class='bitacora_cambio' id='proyectofinanciero_bitacora_cambio' 
               name='proyectofinanciero[bitacora_cambio]' type='hidden'>
      <% end %>
      <%= f.button :submit, t('Validar y Guardar'), :class => 'btn btn-primary',
        'data-turbo' => false %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        proyectosfinancieros_path, :class => 'btn',
        'data-sip--cancelar-vacio-es-eliminar-target' => 'boton',
        'data-sip--cancelar-vacio-es-eliminar-id-param' => @registro.nil? ? '' : @registro.id.to_s,
        'data-sip--cancelar-vacio-es-eliminar-urlparcial-param' => '/proyectosfinancieros/',
        'data-action' => 'click->sip--cancelar-vacio-es-eliminar#talvezEliminar'
      %>
    </div> <!-- form-action -->
  <% end %> <!-- simple_form_for @proyectofinanciero -->
  </article>
<% end -%> <!-- else -->

