<table class="table table-striped">
  <thead>
    <tr>
      <% for i in @incluir do %>
        <th><%= Cor1440Gen::Proyectofinanciero.human_attribute_name(i.to_sym) %></th>
      <% end %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @proyectosfinancieros.try(:each) do |proyectof| %>
      <tr>
        <% for i in @incluir do %>
          <td>
            <% if i == 'id' %>
              <%= link_to proyectof.id, proyectofinanciero_path(proyectof.id) %>
            <% elsif i == 'tipomoneda'  %>
              <%= proyectof.tipomoneda.nombre if proyectof.tipomoneda %>
            <% elsif i == 'monto' || i == 'presupuestototal' || 
              i == 'aportecinep' then %>
              <%= number_with_delimiter(proyectof[i])  %>
            <% else %>
              <%= proyectof.send(i) %>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_proyectofinanciero_path(proyectof),
          :class => 'btn btn-xs' 
          %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            proyectofinanciero_path(proyectof),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => 
                                     t("helpers.links.confirm", 
                                       :default => 'Está seguro(a)?')) },
            :class => 'btn btn-xs btn-danger' 
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @paginar %>
  <%= pagina @proyectosfinancieros,  { param_name: :pagina} %>
<% end %>
