<% ##f.object = Indicadorpf.new() if !f.object  %>
<tr class='nested-fields'>
  <td>
    <%= f.association :resultadopf, 
      label: false,
      label_method: :numero %>
  </td>
  <td>
    <%= f.input :numero, label: false %>
  </td>
  <td>
    <%= f.input :indicador, label: false %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
      :class => 'btn-danger', "data-existing" => true %>
    <div><%= f.error_notification %></div>
  </td>
</tr>

