<p>
<div class="div-tabla">
  <div id="informesnarrativos_proyectofinanciero_marco" class="div-tabla-cuerpo">
    <div class="div-tabla-fila">
      <div class="div-tabla-celda-encabezado">
        <%= t('Informe narrativo / Planificación / POA') %>
      </div>
      <div class="div-tabla-celda-encabezado">
        <%= t('Fecha') %>
      </div>
      <div class="div-tabla-celda-encabezado">
        <%= t('Devoluciones') %>
      </div>
      <div class="div-tabla-celda-encabezado">>
        <%= t('Seguimiento') %>
      </div>
      <div class="div-tabla-celda-encabezado"></div>
    </div>
    <%= f.simple_fields_for :informenarrativo do |d| %>
      <%= render partial: 'informenarrativo_campos', locals: {f: d} %>
    <% end %>
  </div>
</div>
<div class="enlace-agregar-informenarrativo">
  <%= f.submit "Agregar Informe Narrativo",
    class: 'btn btn-sm btn-primary',
    data:  {
      disable_with: false 
    },
    formaction: cor1440_gen.crear_informenarrativo_proyectofinanciero_path(
      index: @registro.informenarrativo.size
    ),
    formmethod: :post,
    formnovalidate: true,
    id: "agregar-informenarrativo-proyectofinanciero",
    name: "agregar-informenarrativo-proyectofinanciero" %>
</div> 
</p>

<p>
<div class="div-tabla">
  <div id="informesfinancieros_proyectofinanciero_marco" class="div-tabla-cuerpo">
    <div class="div-tabla-fila">
      <div class="div-tabla-celda-encabezado">
        <%= t('Informe financiero') %>
      </div>
      <div class="div-tabla-celda-encabezado">
        <%= t('Fecha') %>
      </div>
      <div class="div-tabla-celda-encabezado">
        <%= t('Devoluciones') %>
      </div>
      <div class="div-tabla-celda-encabezado">>
        <%= t('Seguimiento') %>
      </div>
      <div class="div-tabla-celda-encabezado"></div>
    </div>
    <%= f.simple_fields_for :informefinanciero do |d| %>
      <%= render partial: 'informefinanciero_campos', locals: {f: d} %>
    <% end %>
  </div>
</div>
<div class="enlace-agregar-informefinanciero">
  <%= f.submit "Agregar Informe Financiero",
    class: 'btn btn-sm btn-primary',
    data:  {
      disable_with: false 
    },
    formaction: cor1440_gen.crear_informefinanciero_proyectofinanciero_path(
      index: @registro.informefinanciero.size
    ),
    formmethod: :post,
    formnovalidate: true,
    id: "agregar-informefinanciero-proyectofinanciero",
    name: "agregar-informefinanciero-proyectofinanciero" %>
</div> 
</p>

<p>
<div class="div-tabla">
  <div id="informesauditorias_proyectofinanciero_marco" class="div-tabla-cuerpo">
    <div class="div-tabla-fila">
      <div class="div-tabla-celda-encabezado">
        <%= t('Informe auditoria') %>
      </div>
      <div class="div-tabla-celda-encabezado">
        <%= t('Fecha') %>
      </div>
      <div class="div-tabla-celda-encabezado">
        <%= t('Devoluciones') %>
      </div>
      <div class="div-tabla-celda-encabezado">>
        <%= t('Seguimiento') %>
      </div>
      <div class="div-tabla-celda-encabezado"></div>
    </div>
    <%= f.simple_fields_for :informeauditoria do |d| %>
      <%= render partial: 'informeauditoria_campos', locals: {f: d} %>
    <% end %>
  </div>
</div>
<div class="enlace-agregar-informeauditoria">
  <%= f.submit "Agregar Informe de Auditoria",
    class: 'btn btn-sm btn-primary',
    data:  {
      disable_with: false 
    },
    formaction: cor1440_gen.crear_informeauditoria_proyectofinanciero_path(
      index: @registro.informeauditoria.size
    ),
    formmethod: :post,
    formnovalidate: true,
    id: "agregar-informeauditoria-proyectofinanciero",
    name: "agregar-informeauditoria-proyectofinanciero" %>
</div> 
</p>
