<%= turbo_frame_tag "informefinanciero_proyectofinanciero_#{f.index}", class: 'div-tabla-fila nested-fields' do %>
  <div class="div-tabla-celda">
    <%= f.input :detalle, label: false, as: :text, input_html: { rows: 2 } %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :fecha, label: false,
      input_html: { 
        type: "date" 
      },
      as: :string
    %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :devoluciones,
      label: false
    %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :seguimiento, 
      label: false, 
      as: :text, 
      input_html: { rows: 2 } %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
      class: "btn btn-sm btn-danger"
    %>
  </div>
<% end %>
