<%= turbo_frame_tag "informeauditoria_proyectofinanciero_#{f.index}", class: 'div-tabla-fila nested-fields' do %>
  <div class="div-tabla-celda">
    <%= f.input :detalle, label: false, as: :text, input_html: { rows: 2 } %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :fecha, label: false,
      input_html: { 
        type: "date" 
      },
      as: :string
    %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :devoluciones,
      label: false
    %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :seguimiento, 
      label: false, 
      as: :text, 
      input_html: { rows: 2 } %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :id, as: :hidden %>
    <%= f.submit "Eliminar",
      class: 'btn btn-sm btn-danger',
      data: {
        turbo_frame: "informeauditoria_proyectofinanciero_#{f.index}",
        disable_with: false
      },
      formaction: cor1440_gen.eliminar_informeauditoria_proyectofinanciero_path(
        id: f.object.id, index: f.index
      ),
      formmethod: :delete,
      formnovalidate: true   %>
  </div>
<% end %>
