<p>
<table class='table table-bordered table-sm' border="1">
  <tr>
    <th><%= Cor1440Gen::Proyectofinanciero.human_attribute_name('Objetivos/Efectos') %></th>
    <th><%= Cor1440Gen::Proyectofinanciero.human_attribute_name('Indicadores de objetivo/efecto') %></th>
  </tr>
  <% @registro.objetivopf.order(:id).each do |o| %>
    <tr>
      <td><%= o.numero %> <%= o.objetivo %></td>
      <td>
        <ul>
          <% o.indicadorpf.order(:id).each do |io| %>
            <li><%= o.numero + io.numero %> <%= io.indicador%></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  <tr>
    <th><%= Cor1440Gen::Proyectofinanciero.human_attribute_name('Resultados/Productos') %></th>
    <th><%= Cor1440Gen::Proyectofinanciero.human_attribute_name('Indicadores de resultado') %></th>
  </tr>
  <% @registro.resultadopf.order(:id).each do |r| %>
    <tr>
      <td><%= (r.objetivopf ? r.objetivopf.numero : '') + r.numero %> <%= r.resultado %></td>
      <td>
        <ul>
          <% r.indicadorpf.order(:id).each do |ir| %>
            <li><%= (r.objetivopf ? r.objetivopf.numero : '') + r.numero + 
              ir.numero %> <%= ir.indicador%></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>
<table class="table table-bordered table-sm" border="1">
  <tr>
    <th><%= Cor1440Gen::Proyectofinanciero.human_attribute_name('Resultado') %></th><th><%= Cor1440Gen::Proyectofinanciero.human_attribute_name('Actividades de marco lógico') %></th>
  </tr>
  <% @registro.resultadopf.order(:id).each do |r| %>
    <tr>
      <td>
        <% cr = (r.objetivopf ? r.objetivopf.numero : '') + r.numero %>
        <%= cr %>
      </td>
      <td>
        <% r.actividadpf.order(:id).each do |a| %>
          <li>
            <%= cr + a.nombrecorto %> <%= a.titulo %>
              <% if a.formulario_id || a.heredade_id || a.actividadtipo_id %>
                (
                <% if a.formulario_id then %>
                  <%= Cor1440Gen::Proyectofinanciero.human_attribute_name('Formulario') %>: <%= a.formulario.presenta_nombre %>.
                <% end %>
                <% if a.heredade_id then %>
                  <%= Cor1440Gen::Proyectofinanciero.human_attribute_name('Hereda de') %>: <%= a.heredade.presenta_nombre %>.
                <% end %>
                <% if a.actividadtipo_id then %>
                  <%= Cor1440Gen::Proyectofinanciero.human_attribute_name('Tipo') %>: <%= a.actividadtipo.nombre %>.
                <% end %>
                )
              <% end %>
            <%= a.descripcion %>
          </li>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
</p>
