<tr class='nested-fields'>
  <td>

    <% vdis = false %>
    <% if f.object.rangoedadac_id %>
      <% vdis = true %>
    <% end %>

    <%= f.input :rangoedadac_id, 
      collection: Cor1440Gen::Rangoedadac.all.habilitados, 
      label: false,
      label_method: :nombre, 
      disabled: vdis,
      value_method: :id,
      selected: f.object.rangoedadac_id
    %>
  </td>
  <td><%= f.number_field :fl, style: "width: 4em", min: 0 %></td>
  <td><%= f.number_field :fr, style: "width: 4em", min: 0 %></td>
  <td><%= f.number_field :ml, style: "width: 4em", min: 0 %></td>
  <td><%= f.number_field :mr, style: "width: 4em", min: 0 %></td>
  <td><%= f.number_field :s, style: "width: 4em", min: 0 %></td>
  <td>
    <%= 
      f.input :id, as: :hidden %><%= link_to_remove_association t("Eliminar"),
        f, :class => 'btn-danger' 
      %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
