<tr class='nested-fields'>
  <% if ac.object.fecha %>
    <% fr = ac.object.fecha %>
  <% else %>
    <% fr = Time.now.strftime('%Y-%m-%d') %>
  <% end %>
  <% lp1 = Cor1440Gen::ProyectosfinancierosController::disponibles(
    {fecha: fr}, current_ability) %>
  <% ids1 = lp1.pluck(:id) %>
  <% ids2 = ac.object.proyectofinanciero.pluck(:id) %>
  <% # Si es uno nuevo excluimos los ya elegidos %>
  <% ids = ids1 | ids2 %>
  <% col = Cor1440Gen::Proyectofinanciero.where(id: ids).
    reorder('lower(nombre)') %>
  <td>
    <%= f.input :actividad_id, as: :hidden %> 
    <%= f.input :id, as: :hidden %>
    <% vdis = false %>
    <% if f.object.proyectofinanciero_id %>
      <% vdis = true %>
    <% end %>
    <%= f.input :proyectofinanciero_id,
      collection: col,
      label: false,
      label_method: :nombre, 
      disabled: vdis,
      value_method: :id,
      selected: f.object.proyectofinanciero_id,
      input_html: { 
        "title" => t('Los proyectos presentados son los vigentes en la fecha de la actividad (cambie la fecha para actualizar estas opciones)'),
        class: 'chosen-select' 
      }
    %>
  </td>
  <td>
    <%= render partial: 'campo_actividad_proyectofinanciero_actividadpf', locals: {f: f} %>
  </td>  
  <td>
    <%= link_to_remove_association t("Eliminar"), f, 
      :class => 'btn-danger' 
    %>
  </td>
</tr>
