<tr class='nested-fields campos_asistente' data-controller='sip--sindocaut'>
  <% if f.object.persona.nil? %>
    <% f.object.persona = Sip::Persona.new %>
  <% end %>

  <%= f.simple_fields_for :persona do |p| %>
    <td>
      <%= p.input :nombres,
        value_method: lambda {|t| '' if t.nombres == 'N'},
        label: false %>
    </td>
    <td>
      <%= p.input :apellidos, label: false %>
    </td>
    <td>
      <%= p.input :tdocumento_id,
        collection: Sip::Tdocumento.habilitados,
        label_method: :sigla,
        value_method: :id ,
        label: false,
        input_html: {
          style: 'width: 5em',
          "data-action": "change->sip--sindocaut#cambia_tdocumento"
        }
      %>
    </td>
    <td>
      <%= p.input :id,
        as: :hidden,
        input_html: {
          "data-sip--sindocaut-target": "id"
        } %>
      <% ph = 'N'
      ac = {'data-autocompleta' => 'no'}
      if (!p.object.numerodocumento || p.object.numerodocumento == 'N' || p.object.numerodocumento == '')
        ph = 'Buscar'
        ac =  { autocomplete:  'off',
                list: 'fuente-asistentes'
        }
      end %>
      <%
          if (p.object.tdocumento)
            td = p.object.tdocumento.ayuda
          else
            td = "Si el tipo de documento es cédula de ciudadania teclee solo dígitos"
          end
        %>
      <%= p.input :numerodocumento, placeholder: ph,
        input_html: ac.merge!(
          style: 'width: 6em',
          "data-sip--sindocaut-target": "numerodocumento",
          title: td),
          label: false %>
    </td>
    <td>
      <%= p.input :sexo,
        collection: Sip::Persona::sexo_opciones_cortas,
        label: false,
        input_html: { style: 'width: 4em' },
        include_blank: false %>
    </td>
    <td>
      <%= p.input :anionac,
        input_html: { style: 'width: 5em', min: 0 },
        label: false %>
    </td>
    <td>
      <%= p.input :mesnac,
        input_html: { style: 'width: 4em', min: 0 },
        label: false %>
    </td>
    <td>
      <%= p.input :dianac,
        input_html: { style: 'width: 4em', min: 0 },
        label: false %>
    </td>
  <% end %>

  <%= render partial: 'asistencia_campos_orgsocial',
    locals: {fasistencia: f, fpersona: p} %>

  <%= render partial: 'asistencia_campos_if',
    locals: {fasistencia: f, fpersona: p} %>

  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association t("Eliminar"), f,
      class: "btn-danger",
      "data-existing": true
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
