<div class="table-responsive" style="overflow-x:scroll;">
  <table class="tablapoblacion table  table-bordered table-sm ">
    <thead class="thead-light">
      <tr><th>Rango de Edad</th>
        <th><%= Cor1440Gen.actividadg1 %></th>
        <th><%= Cor1440Gen.actividadg2 %></th>
        <th><%= Cor1440Gen.actividadg3 %></th>
        <th><%= Cor1440Gen.actividadg4 %></th>
        <th></th></tr>
    </thead>
    <tbody id="actividad_rangoedadac">
      <tr>
        <th scope='row'>Total</th>
        <td id="tactividadfl">
          <%= fl = f.object.actividad_rangoedadac.sum(:fl) %>
        </td>
        <td id="tactividadfr">
          <%= fr = f.object.actividad_rangoedadac.sum(:fr) %>
        </td>
        <td id="tactividadml">
          <%= ml = f.object.actividad_rangoedadac.sum(:ml) %>
        </td>
        <td id="tactividadmr">
          <%= mr = f.object.actividad_rangoedadac.sum(:mr) %>
        </td>
        <td id="tactividadtot">
          <%= fr + fl + mr + ml %>
        </td>
      </tr>
      <%= f.simple_fields_for :actividad_rangoedadac do |s| %>
        <%= render partial: 'actividad_rangoedadac_fields', 
          locals: {f: s, ac: f} %>
      <% end %>
    </tbody>
  </table>
  <div class="links">
    <%= link_to_add_association 'Añadir Rango de Edad', f, 
      :actividad_rangoedadac, 
      :"data-association-insertion-node" => "tbody#actividad_rangoedadac", 
      :"data-association-insertion-method" => "append", 
      :partial => "actividad_rangoedadac_fields", 
      :class => "btn-primary" 
    %>
  </div>
</div> <!-- table-responsive -->
