<% case tipo %>
<% when 1 %>
  <% # Texto corto %>
  <%= v.input :valor,
    label: etiqueta, 
    input_html: {
      "data-toggle" => 'tooltip',
      "title" => ayudae
    }
  %>
<% when 2 %>
  <% # Texto largo %>
  <%= v.input :valor,
  label: etiqueta, 
  as: :text,
  input_html: {
    "data-toggle" => 'tooltip',
    "title" => ayudae,
    rows: 5
  } %>
<% when 3 %>
  <% # Entero %>
  <%= v.input :valor,
  label: etiqueta, 
  as: :integer,
  input_html: {
    "data-toggle" => 'tooltip',
    "title" => ayudae
  } %>
<% when 4 %>
  <% # Booleano%>
  <%= v.input :valor,
  boolean_style: :nested,
  inline_label: etiqueta,
  as: :boolean,
  input_html: {
    "data-toggle" => 'tooltip',
    "title" => ayudae
  } %>
<% when 5 %>
  <% # Flotante %>
  <%= v.input :valor,
  label: etiqueta, 
  input_html: {
    "data-toggle" => 'tooltip',
    "title" => ayudae,
    type: 'number',
    step: 0.01
  } %>
<% else %>
  <% # No definido %>
  <p>Tipo <%= tipo %> no definido.</p>
<% end %>
