<% convsexo = Msip::Persona.convencion_sexo %>
<% colsexo = convsexo.length / 2 %>
<% sexof = convsexo[:sexo_femenino] %>
<% sexom = convsexo[:sexo_masculino] %>
<% sexos = convsexo[:sexo_sininformacion] %>
<% if colsexo == 4 %>
  <% sexoi = convsexo[:sexo_intersexual] %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th rowspan='2'>
        <%= Cor1440Gen::Actividad.human_attribute_name('Resultados') %>
      </th>
      <th rowspan='2'>
        <%= Cor1440Gen::Actividad.human_attribute_name('Actividades del marco lógico') %>
      </th>
      <th rowspan='2'>
        <%= Cor1440Gen::Actividad.human_attribute_name('Total Actividades') %>
      </th>
      <th colspan='<%= @contarfuncionarios ? 5 : colsexo %>'>
        <span data-toggle='tooltip' title="<%= Cor1440Gen::Actividad.human_attribute_name('Número de beneficiarios (posiblemente repetidos) contados en la tabla de población por rangos de edad') %>"><%= Cor1440Gen::Actividad.human_attribute_name('Participaciones') %></span>
      </th>
      <th colspan='<%= colsexo %>'>
        <span data-toggle='tooltip' title="<%= Cor1440Gen::Actividad.human_attribute_name('Número de asistentes (posiblemente repetidos) según listado de asistencia') %>"><%= Cor1440Gen::Actividad.human_attribute_name('Participaciones asistentes') %></span>
      </th>
      <th colspan='<%= colsexo %>'>
        <span data-toggle='tooltip' title="<%= Cor1440Gen::Actividad.human_attribute_name('Número de asistentes únicos de los listados de asistencia') %>"><%= Cor1440Gen::Actividad.human_attribute_name('Asistentes únicos') %></span>
      </th>
      <th colspan='<%= colsexo %>'>
        <span data-toggle='tooltip' title="<%= Cor1440Gen::Actividad.human_attribute_name('Tasa \'Participaciones asistentes\' / \'Asistentes únicos\'') %>"><%= Cor1440Gen::Actividad.human_attribute_name('Frecuencia de asistencia') %></span>
      </th>
    </tr>
    <tr>
      <% if @contarfuncionarios %>
        <th><%= Cor1440Gen::Actividad.human_attribute_name(Cor1440Gen.actividadg1) %></th>
      <% end %>
      <th><%= @contarfuncionarios ? Cor1440Gen::Actividad.human_attribute_name(Cor1440Gen.actividadg2) : sexof %></th>
      <% if @contarfuncionarios %>
        <th><%= Cor1440Gen::Actividad.human_attribute_name(Cor1440Gen.actividadg3) %></th>
      <% end %>
      <th><%= @contarfuncionarios ? Cor1440Gen::Actividad.human_attribute_name(Cor1440Gen.actividadg4) : sexom %></th>
      <th><%= @contarfuncionarios ? Cor1440Gen::Actividad.human_attribute_name(Cor1440Gen.actividadg5) : sexos %></th>
      <% if colsexo == 4 %>
        <th><%= @contarfuncionarios ? Cor1440Gen::Actividad.human_attribute_name(Cor1440Gen.actividadg6) : sexoi %></th>
      <% end %>
      <th><%= sexof %></th>
      <th><%= sexom %></th>
      <th><%= sexos %></th>
      <% if colsexo == 4 %>
        <th><%= sexoi %></th>
      <% end %>
      <th><%= sexof %></th>
      <th><%= sexom %></th>
      <th><%= sexos %></th>
      <% if colsexo == 4 %>
        <th><%= sexoi %></th>
      <% end %>
      <th><%= sexof %></th>
      <th><%= sexom %></th>
      <th><%= sexos %></th>
      <% if colsexo == 4 %>
        <th><%= sexoi %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% apfs = Cor1440Gen::Actividadpf.where(
      proyectofinanciero_id: @contar_pfid).
      joins('JOIN cor1440_gen_resultadopf as rpf ON cor1440_gen_actividadpf.resultadopf_id=rpf.id').
      order('rpf.numero, nombrecorto')%>
    <% apfs.each do |a| %>
      <tr>
        <% # Una misma actividad puede tener varias actividades de convenio del
           # mismo proyecto por eso no sacar totales
        %>
        <% consb = @contar_actividad.where('cor1440_gen_actividad.id IN 
          (SELECT actividad_id FROM cor1440_gen_actividad_actividadpf
           WHERE actividadpf_id=?)',a.id).
          where('cor1440_gen_actividad.id IN 
          (SELECT actividad_id FROM cor1440_gen_actividad_proyectofinanciero
           WHERE proyectofinanciero_id=?)',@contar_pfid)
         %>
        <td><%= a.resultadopf.codigo_completo if a.resultadopf %></td>
        <td><%= a.nombrecorto %> <%= a.titulo%></td>
        <td>
          <% tot = consb.count %>
          <% if tot > 0 %>
            <% evtot = consb.pluck(:id).join(",") %>
            <%= link_to tot, cor1440_gen.actividades_path + 
              "?filtro[busid]=" + evtot, target: '_blank'  %>
          <% else %>
            <%= 0 %>
          <% end %>
        </td>
        <% consbr = consb.joins(:actividad_rangoedadac) %> 
        <% if @contarfuncionarios %>
          <td>
            <% fl = consbr.sum(:fl) %>
            <%= fl %>
          </td>
        <% end %>
        <td>
          <% fr = consbr.sum(:fr) %>
          <%= fr %>
        </td>
        <% if @contarfuncionarios %>
          <td>
            <% ml = consbr.sum(:ml) %>
            <%= ml %>
          </td>
        <% end %>
        <td>
          <% mr = consbr.sum(:mr) %>
          <%= mr %>
        </td>
        <td>
          <% sr = consbr.sum(:s) %>
          <%= sr %>
        </td>
        <% if colsexo == 4 %>
          <td>
            <% si = consbr.sum(:i) %>
            <%= si %>
          </td>
        <% end %>

        <td>
          <% asistentes = consb.joins(:persona) %>
          <% af = asistentes.where('msip_persona.sexo': sexof).select(
            'cor1440_gen_asistencia.persona_id') %>
          <%= af.count %>
        </td>
        <td>
          <% am = asistentes.where('msip_persona.sexo': sexom).select(
            'cor1440_gen_asistencia.persona_id')%>
          <%= am.count %>
        </td>
        <td>
          <% as = asistentes.where('msip_persona.sexo': sexos).select(
            'cor1440_gen_asistencia.persona_id') %>
          <%= as.count %>
        </td>
        <% if colsexo == 4 %>
          <td>
            <% ai = asistentes.where('msip_persona.sexo': sexoi).select(
              'cor1440_gen_asistencia.persona_id') %>
            <%= ai.count %>
          </td>
        <% end %>
        <td>
          <% asistunicos = consb.joins(:persona).
            select('distinct cor1440_gen_asistencia.persona_id').
            pluck('cor1440_gen_asistencia.persona_id') %> 
          <% uf = Msip::Persona.where(id: asistunicos).where(sexo: sexof) %>
          <% if uf.count > 0 %>
            <% ev = uf.pluck('id').join(",") %>
            <%= link_to uf.count, msip.personas_path + 
              "?filtro[busid]=" + ev, target: '_blank'  %>
          <% else %>
            <%= 0 %>
          <% end %>
        </td>
        <td>
          <% um = Msip::Persona.where(id: asistunicos).where(sexo: sexom) %>
          <% if um.count > 0 %>
            <% ev = um.pluck('id').join(",") %>
            <%= link_to um.count, msip.personas_path + 
              "?filtro[busid]=" + ev, target: '_blank'  %>
          <% else %>
            <%= 0 %>
          <% end %>
        </td>
        <td>
          <% us = Msip::Persona.where(id: asistunicos).where(sexo: sexos) %>
          <% if us.count > 0 %>
            <% ev = us.pluck('id').join(",") %>
            <%= link_to us.count, msip.personas_path + 
              "?filtro[busid]=" + ev, target: '_blank'  %>
          <% else %>
            <%= 0 %>
          <% end %>
        </td>
        <% if colsexo == 4 %>
          <td>
            <% ui = Msip::Persona.where(id: asistunicos).where(sexo: sexoi) %>
            <% if ui.count > 0 %>
              <% ev = ui.pluck('id').join(",") %>
              <%= link_to ui.count, msip.personas_path + 
                "?filtro[busid]=" + ev, target: '_blank'  %>
            <% else %>
              <%= 0 %>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= if uf.count > 0 then f =af.count.to_f/uf.count; f.round(1); end %>
        </td>
        <td>
          <%= if um.count > 0 then f =am.count.to_f/um.count; f.round(1); end %>
        </td>
        <td>
          <%= if us.count > 0 then f = as.count.to_f/us.count; f.round(1); end %>
        </td>
        <% if colsexo == 4 %>
          <td>
            <%= if ui.count > 0 then f = ai.count.to_f/ui.count; f.round(1); end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <% consb = @contar_actividad.where('cor1440_gen_actividad.id NOT IN 
          (SELECT actividad_id FROM cor1440_gen_actividad_actividadpf
           JOIN cor1440_gen_actividadpf ON 
            cor1440_gen_actividad_actividadpf.actividadpf_id=
            cor1440_gen_actividadpf.id
           WHERE cor1440_gen_actividadpf.proyectofinanciero_id=?)',@contar_pfid).
           where('cor1440_gen_actividad.id IN (SELECT actividad_id FROM 
                 cor1440_gen_actividad_proyectofinanciero WHERE 
                proyectofinanciero_id=?)', @contar_pfid)
         %>
       <td> </td>
       <td><em><%= Cor1440Gen::Actividad.human_attribute_name(
         'Sin actividad de marco lógico') %></em><br>
       </td>
       <td>
         <% tot = consb.count %>
         <% if tot > 0 then %>
           <% evtot = consb.pluck(:id).join(",") %>
           <%= link_to tot, cor1440_gen.actividades_path + 
             "?filtro[busid]=" + evtot, target: '_blank' %>
         <% else %>
           <%= 0 %>
         <% end %>
       </td>
       <% consbr = consb.joins(:actividad_rangoedadac) %> 
       <% if @contarfuncionarios %>
         <td>
           <% fl = consbr.sum(:fl) %>
           <%= fl %>
         </td>
       <% end %>
       <td>
         <% fr = consbr.sum(:fr) %>
         <%= fr %>
       </td>
       <% if @contarfuncionarios %>
         <td>
           <% ml = consbr.sum(:ml) %>
           <%= ml %>
         </td>
       <% end %>
       <td>
         <% mr = consbr.sum(:mr) %>
         <%= mr %>
       </td>
       <td>
         <% sr = consbr.sum(:s) %>
         <%= sr %>
       </td>
       <% if colsexo == 4 %>
         <td>
           <% si = consbr.sum(:i) %>
           <%= si %>
         </td>
       <% end %>

       <td></td>
       <td></td>
       <td></td>
       <% if colsexo == 4 %>
         <td></td>
       <% end %>

       <td></td>
       <td></td>
       <td></td>
       <% if colsexo == 4 %>
         <td></td>
       <% end %>


       <td></td>
       <td></td>
       <td></td>
       <% if colsexo == 4 %>
         <td></td>
       <% end %>

    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="5"><%= Cor1440Gen::Actividad.human_attribute_name('No se hacen sumas verticales por columna porque una actividad puede tener varías actividades de marco lógico') %></td>
    </tr>
  </tfoot>

</table>
