<% @cuerpotabla.try(:each) do |fila| %>
  <% 
    actividad = Cor1440Gen::Actividad.find(fila[0])
    sep=""
  %>
  <tr>
    <td><%= link_to fila[0], cor1440_gen.actividad_path(fila[0]) %></td>
    <% for i in 1..(fila.length-1) %>
      <td>
        <%= fila[i] %>
      </td>
    <% end %>
    <td>
      <% actividad.sip_anexo.each do |i| %>
        <%= link_to(image_tag("cor1440_gen/clip.svg", size: "16"), 
                    sip.descarga_anexo_path(i.id),
                    {"data-turbolinks" => false }
                   ) 
        %>
      <% end %>
    </td>
    <td>
      <% if can? :edit, actividad %>
        <%= link_to t('.edit', default: t("helpers.links.edit")),
          cor1440_gen.edit_actividad_path(fila[0]), 
          class: 'btn btn-xs' %>
      <% end %>
      <% if can? :destroy, actividad %>
        <%= link_to t('.destroy', default: t("helpers.links.destroy")),
          cor1440_gen.actividad_path(fila[0]),
          method: :delete,
          data:  { 
            confirm: t('.confirm', 
                       default: t("helpers.links.confirm", 
                       :default => 'Are you sure?')
                      ) 
          },
          class: 'btn btn-xs btn-danger' %> 
      <% end %>
   </td>
  </tr>
<% end %>
