<% etiqueta = v.object.campoact.nombrecampo ?  
  v.object.campoact.nombrecampo : 'valor' %>
<% ayudae = v.object.campoact.ayudauso ? v.object.campoact.ayudauso : '' %>
<% if !v.object.campoact.tipo || v.object.campoact.tipo == 1 %>
  <% # Texto corto %>
  <%= v.input :valor,
    label: etiqueta, 
    input_html: {
      "data-toggle" => 'tooltip',
      "title" => ayudae
    }
  %>
<% elsif v.object.campoact.tipo == 2 %>
  <% # Texto largo %>
  <%= v.input :valor,
  label: etiqueta, 
  as: :text,
  input_html: {
    "data-toggle" => 'tooltip',
    "title" => ayudae,
    rows: 5
  } %>
<% elsif v.object.campoact.tipo == 3 %>
  <% # Entero %>
  <%= v.input :valor,
  label: etiqueta, 
  as: :integer,
  input_html: {
    "data-toggle" => 'tooltip',
    "title" => ayudae
  } %>
<% elsif v.object.campoact.tipo == 4 %>
  <% # Booleano%>
  <%= v.input :valor,
  boolean_style: :nested,
  inline_label: etiqueta,
  as: :boolean,
  input_html: {
    "data-toggle" => 'tooltip',
    "title" => ayudae
  } %>
<% else %>
  <% # No definido %>
  <p>Tipo <%= v.object.campoact.tipo %> no definido.</p>
<% end %>
<%= v.input :campoact_id, as: :hidden %>
<%= v.input :id, as: :hidden %>
