<%- model_class = Cor1440Gen::Actividad -%>
<div class="page-header">
  <h1><%=t '.title', 
    :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if @actividades.size > 1 %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
    cor1440_gen.new_actividad_path,
    :class => 'btn btn-primary' 
  %>
<% end %>
<table class="table table-striped" border='1'>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:fecha) %></th>
      <th><%= model_class.human_attribute_name(:oficina) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <!-- th><%= model_class.human_attribute_name(:responsable) %></th -->
      <th><%= model_class.human_attribute_name(:areas) %></th>
      <th><%= model_class.human_attribute_name(:tipo) %></th>
      <th><%= model_class.human_attribute_name(:objetivo) %></th>
      <th><%= model_class.human_attribute_name(:proyecto) %></th>
      <!--th>< %= model_class.human_attribute_name(:descripcion) %></th-->
      <th><%= model_class.human_attribute_name(:poblacion) %></th>
      <th><%= model_class.human_attribute_name(:anexo) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @actividades.try(:each) do |actividad| %>
      <tr>
        <td><%= link_to actividad.id, cor1440_gen.actividad_path(actividad) %></td>
        <td><%= actividad.fecha %></td>
        <td><%= actividad.oficina.nombre if actividad.oficina %></td>
        <td><%= actividad.nombre if actividad.nombre %></td>
        <!-- td>< %= actividad.responsable.nusuario if actividad.reponsable %></td-->
        <td><%= actividad.actividadareas.map { |i| i.nombre} %></td>
        <td><%= actividad.actividadtipo.map { |i| i.nombre} %></td>
        <td><%= actividad.objetivo %></td>
        <td><%= actividad.proyecto.map { |i| i.nombre} %></td>
        <!-- td>< %= actividad.descripcion %></td-->
        <td><%= actividad.nombre %></td>
        <td><%= actividad.nombre %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      cor1440_gen.edit_actividad_path(actividad), :class => 'btn btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      cor1440_gen.actividad_path(actividad),
                      :method => :delete,
                      :data => { :confirm => t(
                        '.confirm', 
                        :default => t("helpers.links.confirm", 
                                      :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @actividades, { param_name: :pagina }  %>
<%= link_to t('.new', :default => 'Nueva'),
  cor1440_gen.new_actividad_path,
  :class => 'btn btn-primary' 
%>
