<%- model_class = Cor1440Gen::Actividad -%>
<div class="page-header">
  <h1><%=t '.title', 
    :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if @actividades.size > 1 %>
  <p>
  <%= link_to t('.new', :default => 'Nueva'),
    cor1440_gen.new_actividad_path,
    :class => 'btn btn-primary' 
  %>
  </p>
<% end %>

<%= form_tag(actividades_path, method: "get") do %>
  <table class="table table-striped" border='1'>
    <thead>
      <tr>
        <% @enctabla.each do |c| %>
          <th><%= c %></th>
        <% end %>
        <th><%= model_class.human_attribute_name(:anexos) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody id="index_tabla">
      <%= render 'index_tabla' %>
    </tbody>
    <tfoot>
      <%= render 'index_filtro' %>
    </tfoot>
  </table>
<% end %>

<%= will_paginate @actividades, { param_name: :pagina }  %>
<%= link_to t('.new', :default => 'Nueva'),
  cor1440_gen.new_actividad_path,
  :class => 'btn btn-primary' 
%>
