<%- model_class = Cor1440Gen::Actividad -%>
<div class="page-header">
  <h1><%=t '.title', 
    :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if @actividades.size > 1 %>
  <p>
  <%= link_to t('.new', :default => 'Nueva'),
    cor1440_gen.new_actividad_path,
    :class => 'btn btn-primary' 
  %>
  </p>
<% end %>

<table class="table table-striped" border='1'>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:fecha) %></th>
      <th><%= model_class.human_attribute_name(:oficina) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <!-- th><%= model_class.human_attribute_name(:responsable) %></th -->
      <th><%= model_class.human_attribute_name(:areas) %></th>
      <th><%= model_class.human_attribute_name(:tipos) %></th>
      <th><%= model_class.human_attribute_name(:objetivo) %></th>
      <th><%= model_class.human_attribute_name(:proyectos) %></th>
      <!--th>< %= model_class.human_attribute_name(:descripcion) %></th-->
      <th><%= model_class.human_attribute_name(:poblacion) %></th>
      <th><%= model_class.human_attribute_name(:anexos) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="index_tabla">
    <%= render 'index_tabla' %>
  </tbody>
  <tfoot>
    <tr>
      <%= form_tag(actividades_path, method: "get", remote: true) do %>
        <th>
          <%= text_field_tag 'buscodigo', @buscodigo, maxlength: 10, size: 4,
            "data-enviarautomatico" => "", 
            "placeholder" => model_class.human_attribute_name(:id) 
          %>
        </th>
        <th>
          <%= text_field_tag 'fechaini', @fechaini, maxlength: 10, size: 10,
            "data-behaviour" => "datepicker", "data-enviarautomatico" => ""
          %>
          -
          <%= text_field_tag 'fechafin', @fechafin, maxlength: 10, size: 10,
            "data-behaviour" => "datepicker", "data-enviarautomatico" => ""
          %>
        </th>
        <th>
          <%= select_tag "busoficina", 
            options_from_collection_for_select(
              Sip::Oficina.habilitados, 
              "id", "nombre"), {include_blank: true, 
                "data-enviarautomatico" => "", length: 10} 
          %>
        </th>
        <th>
          <%= text_field_tag 'busnombre', @busnombre, maxlength: 10, size: 12,
            "data-enviarautomatico" => "", 
            "placeholder" => model_class.human_attribute_name(:nombre) 
          %>
        </th>
        <th>
          <%= select_tag "busarea", 
            options_from_collection_for_select(
              Cor1440Gen::Actividadarea.habilitados, 
              "id", "nombre"), {include_blank: true,
                "data-enviarautomatico" => "", length: 10} 
          %>
        </th>
        <th>
          <%= select_tag "bustipo", 
            options_from_collection_for_select(
              Cor1440Gen::Actividadtipo.habilitados, 
              "id", "nombre"), {include_blank: true,
                "data-enviarautomatico" => "", length: 10} 
          %>
        </th>
        <th>
          <%= text_field_tag 'busobjetivo', @busobjetivo, 
            maxlength: 10, size: 12,
            "data-enviarautomatico" => "", 
            "placeholder" => model_class.human_attribute_name(:objetivo) 
          %>
        </th>
        <th>
          <%= select_tag "busproyecto", 
            options_from_collection_for_select(
              Cor1440Gen::Proyecto.habilitados, 
              "id", "nombre"), {include_blank: true,
                "data-enviarautomatico" => "", length: 10} 
          %>
        </th>
        <th></th>
        <th></th>
        <th><%= submit_tag("Filtrar") %></th>
    <% end %>
    </tr>
  </tfoot>
</table>

</div>

<%= will_paginate @actividades, { param_name: :pagina }  %>
<%= link_to t('.new', :default => 'Nueva'),
  cor1440_gen.new_actividad_path,
  :class => 'btn btn-primary' 
%>
