<%- model_class = Cor1440Gen::Actividad -%>
<div class="page-header">
  <h1><%=t '.title', 
    :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table width="100%">
  <tr>
    <td width="50%">
      <% if @actividades.size > 1 %>
        <%= link_to t('.new', :default => 'Nueva'),
          cor1440_gen.new_actividad_path,
          :class => 'btn btn-primary' 
        %>
      <% end %>
    </td>
    <td style="width=50%;text-align: left">
      Actividades: <span id="numactividades"><%= @numactividades %></span>
    </td>
  </tr>
</table>

<%= form_tag(actividades_path, method: "get") do %>
  <table class="table table-striped" border='1'>
    <thead>
      <tr>
        <% @enctabla.each do |c| %>
          <th><%= c %></th>
        <% end %>
        <th><%= model_class.human_attribute_name(:anexos) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
      <%= render 'index_filtro' %>
    </thead>
    <tbody id="index_tabla">
      <%= render 'index_tabla' %>
    </tbody>
  </table>
  <%= render 'index_post_tabla' %>

<% end %>
