<%- model_class = Cor1440Gen::Actividad -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <% for i in 0..@enctabla.length %>
    <dt><strong><%= @enctabla[i] %></strong></dt>
    <dd><%= @cuerpotabla[0][i] %></dd>
  <% end %>
  <%= render "resto_show" %>
  <dt><strong><%= Cor1440Gen::Actividad.human_attribute_name(:anexos) %></strong></dt>
  <dd><% 
    sep=""
    @actividad.sip_anexo.each do |i| 
      if (i.descripcion.size > 20)
        d = i.descripcion.slice(0,20) + ' ...'
      else
        d = i.descripcion
      end %>
      <%= sep %> 
      <%= link_to(d, sip.descarga_anexo_path(i.id),
                    {"data-turbolinks" => false }) %>
      <% sep = "; ";
    end %>
  </dd>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
    cor1440_gen.actividades_path, :class => 'btn'  
  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
    cor1440_gen.edit_actividad_path(h @actividad.id), :class => 'btn' 
  %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    cor1440_gen.actividad_path(h @actividad.id),
    :method => 'delete',
    :data => { :confirm => 
      t('.confirm', :default => 
        t("helpers.links.confirm", :default => 'Are you sure?')) 
  },
    :class => 'btn btn-danger' 
  %>
</div>
