<div class='control-group nested-fields'>
  <div class="controls">
    <% 
      if f.object.actosjr.nil?
        f.object.actosjr = Cor1440Gen::Actosjr.new(fecha: Date.today)
      end 
    %>
  
    <%= render 'actoin_fields', :f => f %>

    <%= f.simple_fields_for :actosjr do |s| %>
      <%= s.input :fecha, 
        :input_html => { "data-behaviour" => "datepicker" },
        :as => :string, :label => "Fecha" 
      %>

      <%= s.association :desplazamiento,
        collection: ([] + Cor1440Gen::Desplazamiento.where(:id_caso => @caso.id)),
        label: "Causó desplazamiento",
        label_method: :fechaexpulsion,
        value_method: :id
      %>
    <% end %>

    <%= link_to_remove_association "Eliminar Causa/Antecedente", f, :class => 'btn-danger' %> 
  </div>
</div>
