<div style="padding-bottom: 18px;" class="input select caso_acto_presponsable">
  <label class="select required control-label" for="caso_acto_id_presponsable">
    Presunto Responsable</label>
  <%= 
    p = options_from_collection_for_select(
      Sip::Presponsable.from('sip_caso_presponsable, sip_presponsable').where(
        'sip_caso_presponsable.id_presponsable=sip_presponsable.id 
      AND sip_caso_presponsable.id_caso=?', @caso.id), "id", "nombre"
    )
    select_tag "caso_acto_id_presponsable", p, multiple: true
  %>
</div>
<div style="padding-bottom: 18px;" class="input select caso_acto_categoria">
  <label class="select required control-label" for="caso_acto_id_categoria">
    Categoria</label>
  <%= 
    c = options_from_collection_for_select(
      Sip::Categoria.habilitados.where(
        "id_tviolencia<>'R'").reorder(:id_tviolencia, :id), 
        "id", 
        lambda {|t| t.id_tviolencia + t.id.to_s + ' ' + t.nombre }
    )
    select_tag "caso_acto_id_categoria", c, multiple: true
  %>
</div>
<div style="padding-bottom: 18px;" class="input select caso_acto_persona">
  <label class="select required control-label" for="caso_acto_id_persona">
    Víctima</label>
  <%= 
    p = options_from_collection_for_select(
      Sip::Persona.from('sip_victima, sip_persona').where(
        'sip_victima.id_persona=sip_persona.id AND sip_victima.id_caso=?', @caso.id),
        "id",
        lambda {|t| t.nombres + ' ' + t.apellidos}
    )
    select_tag "caso_acto_id_persona", p, multiple: true
  %>
</div>
<div style="padding-bottom: 18px;" class="input select caso_acto_fecha">
  <label class="select required control-label" for="caso_acto_fecha">
    Fecha</label>
  <%= text_field_tag "caso_acto_fecha", @caso.fecha, "data-behaviour" => "datepicker" %>
</div>
<div style="padding-bottom: 18px;" class="input select caso_acto_desplazamiento">
  <label class="select required control-label" for="caso_acto_desplazamiento_id">
    Causó desplazamiento</label>
  <%= 
    d = options_from_collection_for_select(Cor1440Gen::Desplazamiento.where(:id_caso => @caso.id),
        "id", "fechaexpulsion"
    )
    select_tag "caso_acto_desplazamiento_id", d, include_blank: true
  %>
</div>

<%= link_to 'Añadir Causa/Antecedente',
  '#',
  :class => 'agregaractos btn btn-primary' 
%>
<div id="actos_tabla">
  <%= render 'sip/actos/actos_tabla'  %>
</div>

