<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.input :id, as: :hidden %>
    <%= f.input :fechaatencion, 
      :input_html => { "data-behaviour" => "datepicker" },
      :as => :string, :label => "Fecha de Atenci贸n" %>
    <%= f.input :descamp, as: :text, label: "Situaci贸n encontrada" %>
    <%= f.input :observaciones, as: :text, label: "Observaciones" %>
    <%= f.input :orientaciones, as: :text, label: "Recomendaciones" %>
    <%= f.input :compromisos, as: :text, label: "Compromisos de la Persona" %>
    <%= f.input :gestionessjr, as: :text, label: "Compromisos del SJR" %>

    <%= f.association :ayudasjr, 
      collection: Cor1440Gen::Ayudasjr.habilitados,
      label: "Asistencia Humanitaria",
      label_method: :nombre, 
      value_method: :id 
    %>
    <%= f.input :detallear, label: "Detalle A. Humanitaria",
        wrapper_html: { style: "padding-bottom: 18px;" }
    %>
    <%= f.input :montoar, label: "Monto A. Humanitaria" %>

    <%= f.association :emprendimiento, 
      collection: Emprendimiento.habilitados,
      label: "Emprendimiento",
      label_method: :nombre, 
      value_method: :id 
    %>
    <%= f.input :detalleem, 
      label: "Detalle Emprendimiento",
      wrapper_html: { style: "padding-bottom: 18px;" }
    %>
    <%= f.input :montoem, 
      label: "Monto Emprendimiento",
      wrapper_html: { style: "padding-bottom: 18px;" }
    %>

    <%= f.association :aspsicosocial, 
      collection: Aspsicosocial.habilitados,
      label: "Asistencia Psicosocial",
      label_method: :nombre, 
      value_method: :id 
    %>
    <%= f.input :detalleap, label: "Detalle A. Psicosocial" %>
    <%= f.input :montoap, label: "Monto A. Psicosocial" %>

    <%= f.association :aslegal, 
      collection: Cor1440Gen::Aslegal.habilitados,
      label: "Asistencia Legal",
      label_method: :nombre, 
      value_method: :id 
    %>
    <%= f.input :detalleal, label: "Detalle A. Legal" %>
    <%= f.input :montoal, label: "Monto A. Legal" %>

    <%= link_to_remove_association "Eliminar Sesi贸n de Atenci贸n", f, 
      {:class => 'btn-danger', :'data-existing' => 'true'} 
    %>
  </div>
</div>
