<% f.object = Cor1440Gen::Campotind.new() if !f.object  %>
<tr class='nested-fields'>
  <td>
    <%= f.input :nombrecampo, 
      label: false %>
  </td>
  <td>
    <%= f.input :ayudauso, label: false %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
      :class => 'btn-danger', "data-existing" => true %>
    <div><%= f.error_notification %></div>
  </td>
</tr>

